.btn {
  display: flex;
  width: 353px;
  height: 56px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  transition: opacity 0.4s;
  align-self: center;
}

.btn:hover {
  opacity: 0.7;
}

.btn--primary {
  border: 1px solid #775ce5;
  background-color: #775ce5;
  color: white;
}

.btn--white {
  border: 1px solid #775ce5;
  color: #775ce5;
}

.btn--red {
  border: 1px solid red;
  color: red;
}

a {
  text-decoration: none;
}

.btn.disabled {
  opacity: 0.5;
  cursor: default;
}
