.field__wrapper {
  width: 100%;
  display: grid;
  position: relative;
}

.field__icon {
  display: block;
  width: 18px;
  height: 12px;

  background-size: cover;

  position: absolute;
  right: 10px;
  top: 26px;
  cursor: pointer;
}

.hide {
  background-image: url("../../../public/svg/password-hide.svg");
  background-repeat: no-repeat;
}

.show {
  background-image: url("../../../public/svg/password-show.svg");
  background-repeat: no-repeat;
}
.field__icon.hide {
  height: 16px;
  top: 24px;
}

.field__input.error {
  border-color: red;
}
